body {
    margin: 0;
    /* to remove extra space around border of website  */
    padding: 0;
    /* to remove extra space around border of website  */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

header {
    display: flex;
    height: 50px;
    background-color: #292727;
    padding: 20px;
}

.logo {
    order: 1;
    margin-top: -20px;
    margin-left: auto; /* to center logo in the middle of the header */
    margin-right: auto; /* to center logo in the middle of the header */
}

nav {
    background-color: #646363;
    height: 30px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto; /* to make the nav bar more responsive when scaled down */
}

nav ul {
    display: flex;
    list-style: none;
    /* to remove bullet style */
}

nav a {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    /* to remove underlined style */
    margin: 30px;
    /* to space out the nav bar links */
}

/* This is my required pseudoclass */
nav a:hover {
    color: rgb(72, 215, 122);
    opacity: 70%;
}

.container {
    display: flex;
    height: 70vh;
    /* scale down to 70% of screen size  */
}

.left-side {
    display: flex;
    align-items: center;
    flex: 1;
    margin: 80px;
}


.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    margin-top: 60px;
}

/* to prevent the overflow of text when viewport shrinks */
@media screen and (max-width: 800px) {
    .text-container p {
        display: none;
    }
}

.bold-font {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-decoration: rgb(148, 209, 148) 1px wavy underline;
}

.image-container {
    flex: 1;
    margin: 30px;
}

.image-container img {
    width: 90%;
}

/* to make vertical more responsive with page layout */
#vertical-img {
    max-height: 500px;
    width: 300px;
}

#vertical-img img {
    margin-top: 20px;
    max-width: 100%;
    height: auto;
}

/* make vertical image shrink for responsive design */ 
@media screen and (max-width: 900px) {
    #vertical-img {
            display: none;
        }
}

h1 {
    letter-spacing: -3;
    font-size: 60px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: #333;
    padding-top: 20px;
    text-align: center;
}

h2 {
    font-size: 25px;
    position: relative;
    text-align: center;
    color:rgb(68, 158, 99)
}


/* to make H1 title overflow less when you shrink the viewport */ 
@media screen and (max-width: 1150px) {
    h1 {
        font-size: 20px;
        margin-top: 40px;
        overflow-x: auto;
    }
}

/* to make H1 title responsive when the viewport shrinks */
@media screen and (max-width: 900px) {
    h1 {
        font-size: 2rem;
    }
}

table {
    width: 100%;
    margin-bottom: 20px;
}

th {
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

tr {
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ddd;
    padding: 10px;
}

td {
    padding: 10px;
}

/* to hide table when viewport shrinks for mobile responsiveness */
@media screen and (max-width: 900px) {
    table {
        display: none;
    }
}

.aside-container {
    margin-top: 10px;
    max-width: 150px;
}

aside {
    margin-left: 10px;
    background-color: #d9ece5;
    border: 1px dotted #abcfc2;
    border-radius: 17px;
    padding: 13px;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* to make aside hidden when screen shrinks for a more responsive design */
@media screen and (max-width: 900px) {
    aside {
        display: none;
    }
}

footer {
    position: fixed;
    /* stick the links to the very bottom of the page */
    left: 0;
    bottom: 0;
    padding: 2px;
    width: 100%;
    /* stretch the padding 100% width of the entire page */
}

.footer-container {
    display: flex;
    justify-content: center;
    background-color: white;
}

.footer-container ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.footer-container li {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: auto;
    margin-top: auto;
}

/* to make the icons in the footer hidden at small viewports for responsiveness */
@media screen and (max-width: 700px) {
    .footer-container {
        display: none;
    }
}