body {
    margin: 0;
    /* to remove extra space around border of website  */
    padding: 0;
    /* to remove extra space around border of website  */
}

header {
    display: flex;
    height: 50px;
    background-color: #292727;
    padding: 20px;
}

.logo {
    order: 1;
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
}

nav {
    background-color: #646363;
    height: 30px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    /* to remove bullet style */
}

nav a {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    /* to remove underlined style */
    margin: 30px;
    /* to space out the nav bar links */
}

/* This is my required pseudoclass */
nav a:hover {
    color: rgb(72, 215, 122);
    opacity: 70%;
}

.container {
    display: flex;
    height: 70vh;
    /* scale down to 70% of screen size  */
}

.left-side {
    display: flex;
    align-items: center;
    flex: 1;
    margin: 80px;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.image-container {
    flex: 1;
    margin: 30px;
}

.image-container img {
    width: 90%;
}

h1 {
    font-size: 4rem;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: #333;
}

footer {
    position: fixed;
    /* stick the links to the very bottom of the page */
    left: 0;
    bottom: 0;
    padding: 2px;
    width: 100%;
    /* stretch the padding 100% width of the entire page */
}

.footer-container {
    display: flex;
    justify-content: center;
}

.footer-container ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.footer-container li {
    margin-left: 40px;
}